.python-version
INPUT_FILES/*
!INPUT_FILES/README.md
TEMP/*
!TEMP/README.md
handwritten_training_data/*.png
handwritten_training_data/*.gt.txt
handwritten_training_data_backup/*
.venv/*
handwritten_training_data - 30k/*
training_data_words/*
training_data_lines/Arshasb_7k/*
training_data_lines/*
combined_training/*
ganjoor_epub/*.epub
ganjoor_texts/*.txt
OUTPUT/*.txt
